#title {
    text-align: center;
}

table { 
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center; 
}

tr {
    border: solid #ccc 1px;
}

th {
    width: 80px;
    padding: 12px 0px 12px 0px;
    text-align: left;

    font-size: 13px;
    font-weight: 400;
}

.inputText {
    all: unset;
    width: 380px;
    height: 30px;
    border: solid 1px #ccc;

    font-size: 13px;
    text-align: left;
}

#mobile1 {
    width: 124px;
    height: 30px;
    text-align: center;
    border: solid 1px #ccc;
}

#mobile2, #mobile3{
    width: 111px;
    height: 26px;
    margin-left: 10px;
    text-align: center;
    border: solid 1px #ccc;
}

#submit-btn {
    width: 465px;
    height: 30px;
    font-size: 12px;
    cursor: pointer;
    border: solid 1px rgb(235, 235, 235);
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(245, 245, 245);
}